.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 1rem;
}
.img-cont {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 2px;
  background-color: aliceblue;
}
.productimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contents {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
