.card {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 13rem;
  padding-left: 1rem ;
  padding-top: 1rem;
  gap:1rem;
}
.img-cont {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 2px;
}
.productimg {
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.contents {
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.prce{
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    color: black;
    gap:3%;
}
.original{
  text-decoration: line-through;
  font-size: 70%;
  color: rgb(209, 206, 206);
}
.disc{
  color: orange;
  font-size: 80%;
}
.rating21{
    display: flex;
    gap:0.3rem;
    border: 1px solid rgb(234, 232, 232);
    width:40%;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    align-items: end;
    color: black;
    background-color: white;
}
.name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 160px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-size: smaller;
    text-align: left;
}
.cat{
  display: flex;
  font-size: large;
  text-transform: capitalize;
  justify-content: left;
  align-items: start;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}