.parent {
  display: flex;
  height: 50%;
  width: 100%;
  padding-top: 2rem;
}
.side1 {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.side11 {
  font-size: 1.5rem;
}
.side2 {
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.productitem {
  width: 15rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.productitem:hover {
  scale: 1.02;
}
.custom-link {
  text-decoration: none;
  color: black;
}
.whole-box{
 display: flex;
 flex-direction: column;
 height: 160vh;
 gap: 2rem;
}
.box1{
  border: 2px solid black;
  height:40%;
}
.box2{
  border:2px solid red;
  height: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
.box21{
  height: 23%;
  border: 2px solid black;
  font-size: 2.5rem;
  text-align: left;
}
.box22{
  display: flex;
  align-items: center;
  justify-content: center;
  height:76%;
  position: relative;
}
.box221 {
  display: flex;
  height: 96%;
  width: 100%;
  gap: 1.5rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  scroll-behavior: smooth;
  position: relative;
}
.box22::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.box3{
  border:2px solid greenyellow;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
.box31{
  height: 23%;
  border: 2px solid black;
  font-size: 2.5rem;
  line-height: 6rem;
  text-align: left;
}
.box321{
  display: flex;
  height: 100%;
  width: 100%;
  gap:1.5rem;
  overflow-x:auto ;
  flex-wrap: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.box32{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 76%;
}
.fet-box{
  width:25%;
  height: 95%;
  flex-shrink: 0;
  border: 2px solid pink;
  border-radius: 1rem;
}
.cat-box {
  width: 20%;
  border: 2px solid blue;
  height: 90%;
  flex-shrink: 0;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
  font-size: 1rem;
  color: black;
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.scroll-btn.left {
  left: 1rem;
}
.scroll-btn.right {
  right: 1rem;
}