.wishlist-container {
  margin: 1rem 5rem 0 8rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08); */
 }
  
  .wishlist-title {
    font-size: 150%;
    padding: 1% 0 1% 1%;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    width: 92%;
  }
  
  .wishlist-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: start;
    width: 98%;
  }
  
  .wishlist-empty {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 50px;
  }
  