.modal{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-container{
   background-color: white;
   width: 27%;
   height: 50%;
   text-align: center;
   position: relative;
   border-radius: 0.5rem;
}
.close-btn{
    position: absolute;
    top:1rem;
    right: 1rem;
    cursor: pointer;
    border: none;
    width: 10%;
    height: 10%;
    background-color: #fff;
    font-size: 150%;
    color: gray;
}
.close-btn:hover{
    border: 3px solid rgb(10, 101, 239);
}
.modal-contents{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}