.quantityy{
 display: flex;
 gap: 4%;
 align-items: center;
 justify-content: center;
}
.plus{
    border-radius: 50%;
    padding: 4% 6% 4% 6%;
    cursor: pointer;
    background-color: rgb(250, 249, 249);
    border: 1px solid gray;
}
.num{
    border: 1px solid rgb(236, 234, 234);
    padding: 5% 12% 5% 12%;
}