.head {
  display: flex;
  height: 2.5rem;
  width: 100%;
  padding: 1rem 0 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  background-color: #2874f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head1 {
  width: 15%;
  font-size: 2rem;
  display: flex;
  justify-content:end;
  align-items: center;
  color: white;
  font-weight: 500;
}
.head2 {
  display: flex;
  gap:0.2rem;
  text-decoration: none;
  color: white;
  align-items: center;
  cursor: pointer;
}
.head2-user {
  width: 12%;
  position: relative; 
  display: flex;
  gap: 0.2rem;
  text-decoration: none;
  color: white;
  align-items: center;
  cursor: pointer; /* Ensure dropdown is positioned correctly */
}
.searchbar {
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: 40%; 
  margin-right: 2rem;
  border: 1px solid white;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: white;
  transition: all 0.3s ease;
}

.bar {
  border: none; 
  outline: none; 
  font-size: 110%;
  background-color: white;
  width:93%;
  height: 95%;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: rgb(111, 110, 110); 
}

.icon:hover {
  color: rgb(34, 113, 203); 
}


.searchbar:focus-within {
  border: 2px solid rgb(8, 113, 212);
}


.entity {
  font-size: 100%;
  cursor: pointer;
  text-transform: capitalize;
  color: white;
  overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 line-height: 250%;
}
.custom-link {
  text-decoration: none;
  color: black;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
  flex-direction: column;
  width: 180px;
  overflow: hidden;
}
.head2-user:hover .dropdown-menu {
  display: flex;
}

.dropdown-item {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(224, 222, 222);
  transition: background-color 0.3s ease;
}
.dropdown-item1{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
}
.dropdown-item-syb{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-item-text{
  width: 80%;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
@media screen and (max-width:500px){
  .head2{
    flex-direction: column;
    gap:0.02rem;
  }
  .entity{
    height: 1rem;
    line-height: 70%;
    font-size: 90%;
    text-transform: lowercase;
  }
  .searchbar{
    margin-right: 0;
  }
  .bar{
    font-size: 90%;
  }
  .head1{
    font-size: 1rem;
    width:20%;
    margin-left: 0.5rem;
  }
  .head{
    gap:0.5rem;
  }
}